#skin{
	border:3px dotted steelblue;
	border-radius:10px;
	width:700px;
	margin:100px auto;
	text-align:center;
	padding:10px 0px;
}
nav{	
	margin-top:10px;
	margin-left:50px;
}
#buttons{
	width:600px;
	float:left;
	padding:10px;
}
button{
	border-radius:15px;
	width:60px;
	float:left;
}
#defaultBar{
	border:1px solid #aaa;
	width:600px;
	height:16px;
	float:left;
	padding:2px;
}
#progressBar{
	background:steelblue;
	width:0px;
	height:16px;
}