@keyframes twin{
	
	0% {
		left:0px;
		top:0;
		width:100px;
		height:100px;
		background:green;	
		border-radius:1px;
		box-shadow:blue 10px 10px;
		position:absolute;
	}
	
	25% {
				
		width:150px;
		height:150px;
		background:green;	
		border-radius:25%;
		box-shadow:blue 25px 25px;
		position:absolute;
		transform:rotate(-10deg) translate(800px,0px);
	}
	
	50% {
	
				
		width:200px;
		height:200px;
		background:green;	
		border-radius:50%;;
		box-shadow:green 50px 50px;
		position:absolute;
		transform:rotate(-10deg) translate(800px,800px);
		
	}
	
	75% {
				
		width:150px;
		height:150px;
		background:green;	
		border-radius:25%;
		box-shadow:blue 25px 25px;
		position:absolute;
		transform:rotate(-10deg) translate(0px,800px);
	}
	
	100% {
		width:100px;
		height:100px;
		background:green;	
		border-radius:1px;
		box-shadow:blue 10px 10px;
		position:absolute;
		transform:rotate(-10deg) translate(0px,0px);
	}
	
}

#object{
	
	width:100px;
	height:100px;
	background:green;	
	border-radius:1px;
	box-shadow:blue 10px 10px;
	position:absolute;
	
	animation-name:twin;
	animation-duration:3s;
	animation-timing-function:ease-in;
	animation-iteration-count:1;
	animation-play-state:running;
	
	
}





#moveObject{
	width:100px;
	height:100px;
	/* border:1px double navy; */
	
	background:green;	
	border-radius:1px;
	box-shadow:blue 10px 10px;
	
	
	/* background:-webkit-linear-gradient(left,green,yellow); */
	
	transition:transform 3s 0s,width 3s 1s,height 3s 1s,background 1s 1.5s,
			border-radius 3s 1.5s,box-shadow 3s 1.5s;
	
}


#moveObject:hover{
	width:200px;
	height:200px;
	background:blue;
	/* background:-webkit-linear-gradient(left,blue,green); */
	border-radius:50%;
	box-shadow:green 50px 50px;
	
	transform:rotate(36000deg) translate(500px,500px);
	/* transform:translate(500px,500px); */
	
	
	
	
}