#leftbox{
	border:3px dotted blue;
	width:280px;
	height:280px;
	float:left;
	margin:10px;
	padding:10px;
}
#rightbox{
	border:3px dotted red;
	width:280px;
	height:280px;
	float:left;
	margin:10px;
	padding:10px;
}